include *.py

recursive-include include *.pxi *.h
recursive-include src *.c
recursive-include src *.pyx *.pxd

include examples *.py
recursive-include examples/data *.svg *.jpg *.png *.gif
recursive-include examples/data *.ttf
prune examples/OpenVG
prune examples/FT

include README
include setup.cfg